/java/*/target/*
/java/*/target
/java/*/*/target/*
/java/*/*/target
/java/*/.gradle
/java/*/*/.gradle
/java/*/*/build
/java/*/build
/java/*/*/*/build
/java/*/*/bin
/java/*/bin
/java/*/*/*/bin
/java/.idea
/java/*/.idea
/java/*/*/.idea
/java/*/*/*/.idea
/rust/*/target/*
/rust/*/.idea/*
/rust/*/.idea
/c/target/*
/c/target
/c/build
/c/build/*
/c/debug/*
/c/debug
/c/cmake-build-debug/*
/c/cmake-build-debug
/c/output
/c/output/*
